html.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100%;
}

html.noscroll {
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100%;
}

body.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('backsplash1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin-left: 5%;
  margin-right: 5%;
}

body.white {
  background-color: #fff;
}

/*** LANDING PAGE ***/

.homepage {
  overflow: hidden;
  text-align: center;
}

.main-form {
  margin-top: 20%;
}

.title {
  color: #fbeee5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
  /*-webkit-text-stroke: 0.5px black;*/
}

/*** SIGNUP PAGE ***/

.blurred-box {
  /* border: 1px solid white; */
  /*margin-bottom: 40%;*/
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5px;
  padding-bottom: 20px;
  border-radius: 3px;
  background-color: rgba(255, 255, 254, 0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.oauth-div {
  margin-top: 10px;
}

/** PROFILE PAGE **/
.button-div {
  margin-top: 15px;
}

/*** IMAGE INPUT ***/
.image-input + .image-input-label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;

  cursor: pointer;
}

.image-input:focus + .image-input-label,
.image-input + .image-input-label:hover {
  background-color: red;
}

/** RESULTS PAGE **/
.results-row {
  display: block !important;
}

.result-card {
  background-color: white;
  text-align: center;
  margin-bottom: 4%;
  width: 100%;
  padding-top: 10px;
  display: block;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.result-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#result-card-image {
  width: 200px;
  height: 300px;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  overflow: hidden;
  margin: 0 auto;
}

/** LISTING DETAILS **/
.detail-card {
  background-color: white;
  text-align: center;
  width: 100%;
  height: auto;
  min-height: 80vh;
  padding: 20px 20px 20px 20px;
  margin-top: 2.5%;
  margin-bottom: 5%;
  display: block;

  font-family: 'Nunito Sans', sans-serif;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#detail-image {
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  overflow: hidden;
  margin: 0 auto;
}

.detail-card-long {
  background-color: white;
  text-align: center;
  width: 100%;
  height: auto;
  min-height: 10vh;
  padding: 5px 20px 5px 5px;
  margin-top: 7px;
  display: block !important;
  vertical-align: middle;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.detail-card-long:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#detail-image-small {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  overflow: hidden;
  margin: 0 auto;
}

/*** DEFAULTS ***/

.button {
  font-family: 'Open Sans', sans-serif;
  padding: 4px 10px;
  border: 1px solid #323333;
  color: #323333;
  text-decoration: none;
  margin-right: 5px;
  margin-top: 10px;
  border-radius: 2px;
  background-color: transparent;

  transition: 0.14s ease-in;
}

.button-right {
  float: right;
}

.button:hover {
  text-decoration: none;
  border: 1px solid black;
  background-color: #fff !important;
  color: black;
}

.button-danger:hover {
  text-decoration: none;
  border: 1px solid #96281b;
  color: #96281b;
}

.button-success:hover {
  text-decoration: none;
  border: 1px solid #4daf7c;
  color: #4daf7c;
}

.button-home {
  font-family: 'Open Sans', sans-serif;
  padding: 4px 10px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
  margin-top: 10px;
  border-radius: 2px;
  background-color: transparent;

  transition: 0.2s;
}

.button-home:hover {
  text-decoration: none;
  border: 1px solid white;
  color: black;
  background-color: white;
}

.delete-button,
.delete-button:focus {
  padding: 5px 10px 5px 10px;
  background-color: #96281b;
  color: white;
  border-radius: 2px;
  font-size: 15px;
  border: none;

  transition: 0.2s;
}

.delete-button:hover {
  text-decoration: none;
  color: white;
  padding: 6px 12px 6px 12px;
  font-size: 16px;
}

.contact-button,
.contact-button:focus {
  padding: 5px 10px 5px 10px;
  background-color: #323333;
  color: white;
  border-radius: 2px;
  font-size: 15px;

  transition: 0.2s;
}

.contact-button:hover {
  text-decoration: none;
  color: white;
  padding: 6px 12px 6px 12px;
  font-size: 16px;
}

.form-label {
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  color: #323333;
  margin-bottom: 2px;
  font-size: 17px;
}

.form-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #323333;
  font-size: 35px;
}

.form-control {
  /*background-color: #eee6de !important;*/
  background-color: transparent !important;
  color: #323333;
}

.form-control-search {
  text-align: center !important;
  color: #fff !important;
}

.form-control-search:focus {
  border-color: #fff !important;
}

.form-control:focus {
  border-color: #323333;
}

.form-control:placeholder-shown {
  color: #323333;
}

.error-text {
  color: #d91e18;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.title-black {
  color: #323333;
}

.center-block {
  display: table;
}

.center-text {
  text-align: center;
}

/* .back-button {
  width: 50px;
  margin: 10px;

  transition: 0.2s;
}

.back-button:hover {
  width: 60px;
  margin-bottom: 0px;
} */

.nunito {
  font-family: 'Nunito Sans', sans-serif;
}

option {
  color: #323333 !important;
}
